*~
aclocal.m4
autom4te.cache
bin/
build*
build-aux/
config.*
configure
.cproject
Debug*
depcomp
.deps/
.dirstamp
doc
install-sh
*.l[ao]
.libs/
libtool
*.log
ltmain.sh
Makefile.in
missing
*.o
*.*o
.project
.settings
stamp-h?
*.swp
*.tar.gz
*.txt
vgcore.*
*.x
*.so
*.a
data/
*.vtk
